.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    display: flex;
    flex-direction: column;
    border: 1px gray solid;
}

.product-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: flex-start;
}

.product-info label {
    margin-bottom: .5rem;
}

/* .products .product-card:first-child, 
.products .product-card:nth-child(2) {
    flex: 2 46%;
} */

@media (max-width: 920px) {
    .product-card {
      flex: 1 21%;
    }
}

@media (max-width: 600px) {
    .product-card {
      flex: 1 46%;
    }
}